  html {
    scroll-behavior: smooth; 
  }
  * {
    box-sizing: border-box;
    border: 1px;
  }


  
  body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    margin: 0 auto;
    padding: 0 0;
    background-color: blue;
    overflow: hidden;
  }

  .section {
      width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  logo {
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
  }
  .logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  } 
  .nav {
    margin-left: auto;  
  }
  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration:none;
    font-size: 2rem;
    text-align: center;
    transition: .5s;
    color: black;
    
  }
  .nav-link :visited {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    color: black;
  }
  .nav-link:hover {
    font-size: 3rem;
    color: #4d2323;
  }

  .header-container {
    display: flex;
    background: url('./assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: center 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    
    
  }
  .hero-container {
    background-image: url('./assets/img/bg.png');
    background-position: center -90px;
    background-repeat: no-repeat;
    position: relative;
    width: 1440px;
    height: 940px;
    
  }
  body, html {
    height: 100%;
  
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/bg.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  

}
.hero-text {
  text-align: left;
  position: absolute;
  top: 15em;
  left: 10em;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  
}
 .section-skills {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}
.section-skills {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}
.golden {
  padding: 9px 15px;
  text-decoration: none;
  border-radius: 3px;
  border: 0;
  background-color: #bdae82;
  cursor: pointer;
  font-family: inherit;
  transition: 0.2s;
}

