  html {
    scroll-behavior: smooth; 
  }
  * {
    box-sizing: border-box;
    border: 1px;
  }
  body {
    font-family: 'Merriweather', serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    margin: 0 auto;
    padding: 0 0;
    overflow: hidden;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  .logo {
    display: inline-block;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 173px;
    height: 51px;
  margin-left: -444px;
  }
  .logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  } 
  .nav {
    margin-left: auto;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration:none;
    font-size: 2rem;
    text-align: center;
    transition: .5s;
    color: black;
  }
  .nav-link :visited {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    color: black;
  }
  .nav-link:hover {
    font-size: 3rem;
    color: #4d2323;
  }
  .header-container {
    display: flex;
    background: url('./assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: center 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .hero-container {
    background-image: url('./assets/img/bg.png');
    background-position: center -90px;
    background-repeat: no-repeat;
    position: relative;
    width: 1440px;
    height: 940px;
  }
  body, html {
    height: 100%;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/bg.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-title {
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 120px;
color: #FFFFFF;
height: 120px;
left: 0%;
right: 0%;
top: 0px;
}
.hero-text {
  text-align: left;
  position: absolute;
  height: 120px;
  left: 0%;
  right: 6%;
  top: 130px;
  color: white;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
}
.golden {
  padding: 9px 15px;
  height: 55px;
  width: 220px;
  text-decoration: none;
  border-radius: 3px;
  border: 0;
  background-color: #bdae82;
  cursor: pointer;
  font-family: inherit;
  transition: 0.2s;
  font-size: 20px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;

}
.section-skills {
  padding: 50px;
}
.section-skills {  
  align-items: center;
  text-align: center;
  position: relative;
  
  box-sizing: border-box;
  border-radius: 0px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
}
.section-skills::before,
.section-skills::after {
  content: '';
  display: inline-block;
  width: 25%;
  height: 3px;
  background-image: linear-gradient(to top, #bdae82e5 39px, #bdae82 39px, #bdae82 41px, #000 41px);;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.section-skills:before {
  right: 15px;
  margin: 0 0 0 -100%;
 }
 .section-skills:after {
  left: 15px;
  margin: 0 -100% 0 0;
 }

.section-video {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
  text-align: center;
  background-position: center -900px;
}
.section-contacts {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
  text-align: center;
}
.section-portfolio {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
  text-align: center;
}
.section-price {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
  text-align: center;
}
.section {
  display: block;
}
.main, .logo, .footer, .section {
  margin-left: auto;
  margin-right: auto;
}
.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-position: center top;

}

.skills-item-1 {
  background-image: url('./assets/svg/camera.svg');
  background-size: 62px 50px;
}
.skill-title {
  width: 280px;
  height: 40px;
  left: calc(50% - 280px/2);
  top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #FFFF;
}
.skill-desc {
  width: 280px;
  height: 72px;
  left: calc(50% - 280px/2);
  top: 160px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  /* or 200% */
  text-align: center;
  color: #FFFFFF;

}
.skills-item-2 {
  background-image: url('./assets/svg/video.svg');
  background-size: 62px 50px;
}
.skills-item-3 {
  background-image: url('./assets/svg/pic.svg');
  background-size: 62px 50px;
}
.skills-item-4 {
  background-image: url('./assets/svg/mic.svg');
  background-size: 62px 50px;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  height: 55px;
  left: 272px;
  top: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.portfolio-buttons {
  margin: 0 5px;
  padding: 9px 15px;
  height: 55px;
  width: 220px;
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.2s;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #BDAE82;
}
.section {
  width:100%;
}
.section-portfolio {
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 0px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
}

.section-portfolio::before,
.section-portfolio::after {
  content: '';
  display: inline-block;
  width: 25%;
  height: 3px;
  background-image: linear-gradient(to top, #bdae82e5 39px, #bdae82 39px, #bdae82 41px, #000 41px);;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.section-portfolio:before {
  right: 15px;
  margin: 0 0 0 -100%;
 }
 .section-portfolio:after {
  left: 15px;
  margin: 0 -100% 0 0;
 }
 .section-video {  
  align-items: center;
  text-align: center;
  position: relative;
  
  box-sizing: border-box;
  border-radius: 0px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
}
.video-items {
  display: flex;
  flex-wrap: wrap;
  background-position: center top;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.section-video::before,
.section-video::after {
  content: '';
  display: inline-block;
  width: 25%;
  height: 3px;
  background-image: linear-gradient(to top, #bdae82e5 39px, #bdae82 39px, #bdae82 41px, #000 41px);;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.section-video:before {
  right: 15px;
  margin: 0 0 0 -100%;
 }
 .section-video:after {
  left: 15px;
  margin: 0 -100% 0 0;
 }
 .pictures {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3%;
  top: 5%;
  position: relative;
  z-index: 1;
  text-align: center;
  gap: 5px;
  justify-content: space-between;
 }
.image {
background-size: 450px 560px;
}
.video {
  width: 1440px;
  height: 705px;
}
.play {
  position: absolute;
  align-items: center;
  background-image: url('./assets/svg/Play_hover.svg');
  background-size: contain;
  background-repeat: no-repeat;  
  width: 129.86px;
  margin-left: 620px;
  margin-top: 250px;
}
.section-price {
  padding: 50px;
}
.section-price {  
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 0px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
}
.section-price::before,
.section-price::after {
  content: '';
  display: inline-block;
  width: 25%;
  height: 3px;
  background-image: linear-gradient(to top, #bdae82e5 39px, #bdae82 39px, #bdae82 41px, #000 41px);;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.section-price:before {
  right: 15px;
  margin: 0 0 0 -100%;
 }
 .section-price:after {
  left: 15px;
  margin: 0 -100% 0 0;
 }
 .price-cards {
  display: flex;
  flex-wrap: wrap;
  background-position: center top;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.price-title {
  display: block;
  color: white;
  padding-top: 15px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}
.price {
  display: block;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  padding: 5px;
  
  text-align: center;
  
  color: #BDAE82;
}

.decription {
  display: block;
  padding: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}
.price-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price-item {
  display: block;
  zoom: 1;
  border: solid #BDAE82 3px;
  width: 450px;
  height: 505px;
  margin-left: auto;
  margin-right: auto;
}
.section-contacts {  
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 0px;
  z-index: 1;
  overflow: hidden;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Merriweather;
  line-height: 80px;
  color: #bdae82e5;
  width: 1440px;
}
.section-contacts::before,
.section-contacts::after {
  content: '';
  display: inline-block;
  width: 25%;
  height: 3px;
  background-image: linear-gradient(to top, #bdae82e5 39px, #bdae82 39px, #bdae82 41px, #000 41px);;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.section-contacts:before {
  right: 15px;
  margin: 0 0 0 -100%;
 }
 .section-contacts:after {
  left: 15px;
  margin: 0 -100% 0 0;
 }
 ::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
}
.contact-me {
  display: block;
  margin-left: auto;
  font-size: 14px;
  --field-padding: 12px;
  width: 30%;
  line-height: 50px;

}
.contact-me p {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
}
.contact-me input {
  border: 2px solid #BDAE82;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  padding: var(--field-padding);
}
.contact-me .placeholder {
  overflow: hidden;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
}

contact-me, contact-me::before, contact-me::after {
  box-sizing: border-box;
}
textarea {
  resize: none;
  font: inherit;
  width:100%;
  background: rgba(0, 0, 0, 0.5);
border: 2px solid #BDAE82;
box-sizing: border-box;
border-radius: 0px;
}
.contact-me button {
  display: block; 
  float:left; 
  width:220px;
}